.message {
    display: inline-block;
    text-align: right;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
}

form {
    display: block;
}

textarea {
    width: 500px;
    height: 50px;
}

h1 {
    display: inline-block;
    margin-right: 100px;
}

.commentarea {
    margin-left: 200px;
}