<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Amadon - Index</title>
    {% load static %}
    <!-- The line above tells Django to be ready to listen for static files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!-- <link rel="stylesheet" href="{% static 'amadon/css/style.css' %}" media="screen" title="no title"  charset="utf-8"> -->
    <!-- Put the static files in the static folder inside your app.  Django collects files within all static folders and puts them within a single folder -->    
</head>

<body>
    <h1>Amadon Store!</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Dojo Tshirt</th>
                <td>$19.99</td>
                <td>
                    <form action="/amadon/process" method="post">
                        {% csrf_token %}
                        <select name='quantity'>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                        <input type='hidden' name='product_id' value='101'>
                        <input type="submit" value="Buy!">
                    </form>
                </td>
            </tr>
            <tr>
                <th scope="row">Dojo Sweater</th>
                <td>$29.99</td>
                <td>
                    <form action="/amadon/process" method="post">
                        {% csrf_token %}
                        <select name='quantity'>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                        <input type='hidden' name='product_id' value='102'>
                        <input type="submit" value="Buy!">
                    </form>
                </td>
            </tr>
            <tr>
                <th scope="row">Dojo Cup</th>
                <td>$4.99</td>
                <td>
                    <form action="/amadon/process" method="post">
                        {% csrf_token %}
                        <select name='quantity'>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                        <input type='hidden' name='product_id' value='103'>
                        <input type="submit" value="Buy!">
                    </form>
                </td>
            </tr>
            <tr>
                <th scope="row">Algorithm Book</th>
                <td>$49.99</td>
                <td>
                    <form action="/amadon/process" method="post">
                        {% csrf_token %}
                        <select name='quantity'>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                        <input type='hidden' name='product_id' value='104'>
                        <input type="submit" value="Buy!">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>